.contact {
  text-align: center;
}

.contact-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.contact-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-top: 5rem;
}

.contact-text {
  font-size: 1.3rem;
  color: $text-secondary !important;
  font-weight: 500;
}

.contact-text-bold {
  font-size: 1.3rem;
  font-weight: 600;
}
