.navbar {
  height: 100px;
}

.btn {
  font-weight: 500;
  font-size: 1.125rem;
}

.app-logo {
  height: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.nav-link {
  margin-left: 20px;
}

.register-btn {
  background: $primary;
  border-radius: 5px;
  color: white !important;
}

.login-btn {
  border-width: 2px !important;
  border-radius: 5px;
  border-color: $primary;
  color: $primary !important;
}
