<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Peliculas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Listado de Peliculas</h1>
    </header>
    </div>
    <ul>
      <% for ( movie of movies ) { %>
      <li><a href="/movies/detail/<%= movie.id %>"><%=movie.title%></a></li>
      <% } %>
    </ul>
    
  </div>
  </body>
</html>